[submodule "3rdParty/tinyobjloader"]
	path = 3rdParty/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = git@github.com:nothings/stb.git
[submodule "3rdParty/meshoptimizer"]
	path = 3rdParty/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
